section.card-page-sctn {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 0;
    justify-content: space-around;
}

.inline-deck {
    display: flex;
    justify-content: space-between;
}

.only-three-people {
    display: flex;
}

.back-button {
    width: 30px;
    background-color: red;
    margin: 0 auto;
}