.pop-up {
    background-color: #fafafa;
    position: fixed;
    
    width: 250px;
    height: 200px;
    margin: 5% auto;
    left: 0;
    right: 0;

    border: 3px solid #c4c4c4;
    border-radius: 10px;
    z-index: 9;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: .3em;
}

.pop-up input {
    text-align: center;
}