.chat-div {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #555;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 1px 1px 20px #333;
    gap: 1em;
    padding: 10px;
}

.chat-div textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
    outline: none;
}